<nav>
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/about' | relative_url }}">About</a>
  <a href="{{ '/benefits' | relative_url }}">HR/Benefits Specialty</a>
  <a href="{{ '/portfolio' | relative_url }}">Portfolio</a>

  <div class="dropdown">
    <a href="{{ '/blog' | relative_url }}">Blog ▼</a>
    <div class="dropdown-content">
      <a href="{% post_url 2025-04-15-benefits %}">Data in Benefits</a>
      <a href="{% post_url 2025-03-15-compliance %}">Compliance Made Easy</a>
      <a href="{% post_url 2025-05-15-good_data_analysts %}">Smarter Analytics</a>
      <a href="{% post_url 2025-07-31-reducing_errors %}">Minimizing Errors</a>
      <a href="{% post_url 2025-06-15-reducing_errors_2 %}">Data-Driven Fixes</a>
      <a href="{% post_url 2025-01-15-root_cause %}">Root Cause Analysis</a>
      <a href="{% post_url 2025-02-15-sql %}">SQL Mastery</a>
      <a href="{% post_url 2025-07-15-story_telling %}">Story-Driven Data</a>
      <a href="{% post_url 2025-08-13-story_telling_2 %}">Data Narratives</a>
    </div>
  </div>

  <a href="{{ '/contact' | relative_url }}">Contact</a>
</nav>
