body {
  background-color: #222; /* Midnight's dark gray */
  color: #fff; /* White text */
}

.gallery{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid hsl(200, 50%, 20%);
  margin: 5px;
  width: 300px;
  height: 225px;
  vertical-align: bottom;
}
.gallery .description{
  padding: 5px;
  text-align: center;
}
.gallery:hover{
  border: 2px solid hsl(198, 100%, 55%);
}
.gallery img{
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
