body {
  background-color: #222; /* Midnight's dark gray */
  color: #fff; /* White text */
}

.gallery{
  display: inline-block;
  border: 2px solid hsl(200, 50%, 20%);
  margin: 5px;
  width: 300px;
}
.gallery .description{
  padding: 10px;
  text-align: center;
}
.gallery:hover{
  border: 2px solid hsl(259, 89%, 30%);
}
.gallery img{
  width: 100%;
  height: auto;
}
