body {
  background-color: #222; /* Midnight's dark gray */
  color: #fff; /* White text */
}

.gallery {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between; /* image at top, text at bottom */
  width: 300px;
  height: 225px;
  border: 2px solid hsl(200, 50%, 20%);
  margin: 5px;
  vertical-align: bottom; /* keeps galleries aligned with each other */
}

.gallery img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.gallery .description {
  text-align: center;
  padding: 5px;
}
