---
---
@import "minimal-mistakes";

/* Background Image */
body {
  background: url('{{ "/assets/images/background.jpg" | relative_url }}')
              no-repeat center center fixed;
  background-size: cover;
}

.page__content, 
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.page__content .gallery,
.post .gallery {
  display: grid;
  border: 2px solid hsl(200, 75%, 80%);
  margin: 5px;
  width: 350px;
  vertical-align: bottom;
}

.page__content .gallery .description,
.post .gallery .description {
  padding: 5px;
  text-align: center;
}

.page__content .gallery:hover,
.post .gallery:hover {
  border: 2px solid hsl(198, 100%, 55%);
}

.page__content .gallery img,
.post .gallery img {
  width: 95%;
  height: auto;
}
