---
---
@import "minimal-mistakes";

/* Background Image */
body {
  background: url('{{ "/assets/images/background.jpg" | relative_url }}')
              no-repeat center center fixed;
  background-size: cover;
}

.page__content, 
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 20px auto;
  max-width: 1100px;
}

.page__content .gallery,
.post .gallery {
  border: 2px solid hsl(200, 75%, 80%);
  width: 350px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.page__content .gallery,
.post .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  border: 2px solid hsl(200, 75%, 80%);
  margin: 5px;
  width: 350px;
  height: 275px;
  vertical-align: bottom;
}
*/

.page__content .gallery .description,
.post .gallery .description {
  padding: 5px;
  text-align: center;
}

.page__content .gallery:hover,
.post .gallery:hover {
  border: 2px solid hsl(198, 100%, 55%);
}

.page__content .gallery img,
.post .gallery img {
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.post-content .gallery figure,
.page__content .gallery figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.post-content .gallery figure figcaption,
.page__content .gallery figure figcaption {
  font-family: Garamond, Baskerville, "Times New Roman", serif; /* choose any font */
  font-size: 1rem; /* adjust size */
  font-weight: 300; /* makes it bolder */
  color: #333; /* darker color */
  text-align: center; /* ensures it stays centered */
}
